<#@ include file=".\BaseStart.ttinclude" #>
<# 
	Property("PlannedSize", "int");
	Collection("ProgrammesOfStudyOptionalFor", "ProgrammeOfStudy");
	Collection("ProgrammesOfStudyMandatoryFor", "ProgrammeOfStudy");
#>
<#@ include file=".\BaseEnd.ttinclude" #>